
div {
	margin: 20px;
	padding: 2em;
}
.task {
	color: blue;
	border: 5px solid black;
	width: 300px;
	height: 50px;
	margin: 20px;
	padding: 1em;
}
.gap {
	border: 5px solid yellow;
	width: 300px;
	height: 5px;
	margin: 20px;
	padding: 1em;
}
